[Unit]
Description=Run AWS-DeepRacer ROS nodes for the base module
After=network.target

[Service]
ExecStart=%h/.local/libexec/start_ros.sh
Type=simple
Restart=no